*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center{
    background-image: linear-gradient(to top, #F3E1D0,#D1F0EF);
    height: 100%;
    display: flex;
}
.info{

    width: 400px;
    height: 550px;
    background-color: #FFFFFF;
    border: 6px solid #fa86c9b2;
    border-radius: 5px;
    margin: auto;

}

.info img{
    border-radius: 100%;
    border: 4px solid #fa86c9b2;
    display: block;
    margin: auto;
    margin-top: 20px;
  }
.info h1{
    margin-top: 10px;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.info p{
    color: #4d4d4d;
    margin: 30px;
    margin-top: 10px;
    text-align: justify;
}