*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center{
    background-image: linear-gradient(to top, #F3E1D0,#D1F0EF);
    height: 100%;
    display: flex;
}
.info{

    width: 400px;
    height: 550px;
    background-color: #FFFFFF;
    border: 6px solid #fa86c9b2;
    border-radius: 5px;
    margin: auto;

}

.info img{
    border-radius: 100%;
    border: 4px solid #fa86c9b2;
    display: block;
    margin: auto;
    margin-top: 25px;
  }
.info h1{
    margin-top: 15px;
    font-size: 19px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.info h2 {
    font-size: 13px;
    color: #2b2a2a;
    text-align: center;
    margin: 15px;
}

.info p{
    color: #4d4d4d;
    margin: 15px;
    text-align: center;
}

.button{
    width: 200px;
    height: 50px;
    background-color: aqua;
    border: none;
    position: relative;
    top: 14px;
    left: 100px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold; 
    
}
.button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
      }



